<launch>
<node type="laser_scan_assembler" pkg="laser_assembler"
    name="my_assembler">
<remap from="scan" to="scan_filtered"/>
<param name="max_scans" type="int" value="400" />
<param name="fixed_frame" type="string" value="map" />
<!--param name="fixed_frame" type="string" value="my_robot_link_base" /-->
</node>
<node type ="laser2pc.py" pkg="laser_assembler" name="laser2pc"/>
<!--node type="periodic_snapshotter.cpp" pkg="laser_assembler"
name="periodic_snapshotter"/-->
</launch>